<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjekAkhir.Properties.Settings.UAS" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\UAS.mdb"
            providerName="System.Data.OleDb" />
        <add name="ProjekAkhir.Properties.Settings.AbsenKaryawanConnectionString"
            connectionString="Data Source=BUKANADRIAN9\SQLEXPRESS;Initial Catalog=AbsenKaryawan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjekAkhir.Properties.Settings.UASConnectionString"
            connectionString="Data Source=BUKANADRIAN9\SQLEXPRESS;Initial Catalog=UAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjekAkhir.Properties.Settings.finalprojectConnectionString"
            connectionString="Data Source=BUKANADRIAN9\SQLEXPRESS;Initial Catalog=finalproject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>